<div class="post-container">
    <article>
        {{#each posts as |post|}}
        <div class="post-section">
            {{> post-info post }}
        </div>
        {{/each}}
    </article>
</div>

<div class="spacebottom"></div>