<div class="form-center">
    <div class="section-form">
        <form class="signup-form">
            <div>
                <label for="username-signup">username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
            </div>
            <div>
                <label for="password-signup">password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit">signup</button>
            </div>

        </form>
        <div>Have an account? <a href="/login">Login instead!</a>
        </div>
    </div>
</div>

<script src="/javascript/signup.js"></script>