* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  }

body, html {
  height: 100%;
  padding: 0;
  margin: 0 0 100px; 
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #225ca3;
  font-weight: bold;
  transition: color .5s;
}

a:hover {
  color: #3486eb;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

.post-list {
  margin: 0;
  padding: 0;

}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  min-width: 70%;
  min-height: 200px;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

header {
  /* border-bottom: 1px solid #ccc; */

  background-image: linear-gradient(black, #012764, #00378e);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1%;
  background-color: #00378e;
  /* background-image: url("/images/colorful_code.jpg"); */
  -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

.right {
  width: 33%;
  text-align:right;
}

header h1 a {
  font-family: 'Share Tech Mono', monospace;
  font-size: 1.75em;
  font-weight: strong;
  color: #eaef3a;
  padding: 0px;
  width:33%;
  /* background-color: white; */
}

header h1 a:hover {
  color:#fff;
}

.headmini {
  font-size: .60em;
  font-family: 'Lily Script One', cursive;
  margin-right: 3px;
  margin-left: 3px;
  color: #fff;
}

.headbracket {
  font-size: .60em;
  font-family: helvetica;
  color: #fa4568;
}

nav {
  width:33%;
  /* display: flex;
  justify-content: right;
    */
    text-align:right;
}

nav a {
  color: white;
  /* width: 100%;  */
}

nav a:hover {
  color: #eaef3a;
}

main {
  flex: 1;
  padding: 2% 4%;
  z-index: 8000;
  position: relative;
  background-image: url("/images/colorful_code.jpg");
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  background-size: cover;

}

section {
  background-attachment: scroll;
  -webkit-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px 10px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px 10px rgba(0,0,0,0);
  padding: 20px;
  background: rgba(255, 255, 255, 0.95);
  /* width: 60%; */
  border: 1px solid #00378e;
  border-radius: 25px;
  margin-bottom: 20px;
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #225ca3;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #3486eb;
}

.delete-post-btn {
  background-color: #d41414;
}

.delete-post-btn:hover {
  background-color: #ff643d;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 300px;
}

.edit-post-form {
  margin-bottom: 5%;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 75px;
  width: 100%;
  color:#FFFFFF; 
  background-color: #00378e;
  /* background-image: url("/images/colorful_code.jpg"); */
  background-image: linear-gradient(#00378e, black);
  font-size:1.5em;
  text-align: center;
  line-height:75px;
  z-index: 9999;
  -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  /* border-top: 1px solid #ccc;
  display: flex;
  justify-content: center;
  padding: 1%;
  font-size: 110%;
  position: fixed;
  z-index: 9999; */
}
