* {
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
  }

body {
  background-image: url("/images/colorful_code.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0 0 100px; 
  font-family: sans-serif;
  color: #333;
}

a {
  text-decoration: none;
  color: #0067e8;
  font-weight: bold;
  transition: color .5s;
}

a:hover {
  color: #f80265;
}

button {
  background-color: #0067e8;
  border: 0;
  padding: 5px;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #f80265;
}

.post-list {
  margin: 0;
  padding: 0;

}

textarea, input {
  padding: .5%;
  border-radius: 5px;
  border: 1px solid #ccc;
  height: 30px;
  width: 100%;
}

textarea:focus, input:focus {
  outline: none;
  border: 1px solid #3486eb;
}

textarea {
  width: 100%;
  /* min-width: 70%; */
  min-height: 200px;
}

form {
  width:100%;
}

form > div {
  margin-bottom: 2%;
}

form label {
  display: block;
}

/* .wrapper {
  width: 100%;
  min-height: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
} */

header {
  height: 85px;
  background-image: linear-gradient(black, #012764, #00378e);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1%;
  background-color: #00378e;
  /* background-image: url("/images/colorful_code.jpg"); */
  -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
}

.right {
  width: 33%;
  text-align:left;
}

.right a {
  color: #eaef3a;
  /* width: 100%;  */
}

.right a:hover {
  color: #fff;
}

header h1 a {
  font-family: 'Share Tech', monospace;
  font-size: 1.75em;
  font-weight: strong;
  color: #eaef3a;
  padding: 0px;
  width:33%;
  /* background-color: white; */
}

header h1 a:hover {
  color:#f99535 !important;
}

.headmini {
  font-size: .60em;
  font-family: 'Lily Script One', cursive;
  margin-right: 3px;
  margin-left: 3px;
  color: #fff;
}

.headbracket {
  font-size: .60em;
  font-family: helvetica;
  color: #fa4568;
}

nav {
  width:33%;
  /* display: flex;
  justify-content: right;
    */
    text-align:right;
}

nav a {
  color: #eaef3a;
  /* width: 100%;  */
}

nav a:hover {
  color: #fff;
}

main {
  /* flex: 1; */
  padding: 2% 30%;
  z-index: 8000;
  position: relative;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width:100% */

}

section {
  /* padding: 0% 12%; */
  background-attachment: scroll;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 10px 20px;
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.95);
  /* width: 55%; */
  border: 1px solid #00378e;
  border-radius: 25px;
  display: flex;
  justify-content: left;
  width:100%;
  /* align-items: center; */
  margin-bottom:100px;
  /* margin-bottom: 100px; */
}

.center-content {
  display: flex;
  justify-content: center;
}

article {
  width: 100%;
}

/* .container {
  display: flex;
  justify-content: center;
  width:100%;
  align-items: center;
  margin-bottom:100px;
} */

.post-section {
  background-attachment: scroll;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 10px;
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.95);
  width: 100%;
  border: 1px solid #00378e;
  border-radius: 25px;
  /* margin-bottom: 100px; */
}

.post-container {
  display: flex;
  justify-content: center;
  /* padding: 0% 12%; */
  align-items: center;
  margin-bottom:100px;
}

.section-form {
  /* padding: 0% 12%; */
  background-attachment: scroll;
  box-shadow: 0px 3px 8px 3px rgba(0,0,0,0.25);
  padding: 10px 20px;
  margin-bottom: 25px;
  background: rgba(255, 255, 255, 0.95);
  /* width: 55%; */
  border: 1px solid #00378e;
  border-radius: 25px;
  /* display: flex;
  justify-content: center; */
  width:100%;
  /* align-items: center; */
  margin-bottom:100px;
  /* margin-bottom: 100px; */
}

.form-center {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  width: 300px;
  /* height:50vh; */
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #eaef3a;
  font-size: 100%;
  font-weight: bold;
  transition: color .1s;
  margin-left: 16px;
}

.btn-no-style:hover {
  background: none;
  color: #fff;
}

.login-form .signup-form {
  width: 200px;
  line-height: 25px;
}

.delete-post-btn {
  background-color: #ff643d;
}

.delete-post-btn:hover {
  background-color: #f80265;
}

.post {
  margin-bottom: 2%;
  line-height: 150%;
  
}

.post .title span {
  font-style: italic;
  font-size: 90%;
  color: #7d7d7d;
}

.edit-link {
  display: block;
  margin: -1.5% 0 2% 0;
}

.comment-form {
  margin-bottom: 5%;
}

.comment {
  padding: 1%;
  margin-bottom: 1%;
}

.comment:nth-child(odd) {
  background-color: #fff5eb;
}

.comment .meta {
  font-size: 90%;
  margin-bottom: .5%;
  opacity: .6;
}

.new-post-form input {
  width: 100%;
}

.edit-post-form {
  width: 100%;
  margin-bottom: 5%;
}

.spacebottom {
  margin-bottom: 100px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  color:#FFFFFF; 
  background-color: #00378e;
  background-image: linear-gradient(#00378e, black);
  font-size:1.5em;
  line-height: 24px;
  text-align: center;
  padding: 15px;
  z-index: 9999;
  -webkit-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  -moz-box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
  box-shadow: 0px 3px 15px 10px rgba(0,0,0,0.49);
}

.welcome {
  color:  #eaef3a;
}

.logged-in {
  font-size: .7em;
}

.copy {
  font-size: 12px;
  color: #fa4568;
}
